In [1]:
import pandas as pd
import ast

In [2]:
raw = pd.read_csv("c:/Users/David/Documents/Python Projects/Animal Crossing/Crafting Calculator/recipes.csv")

In [3]:
df = raw[['Internal ID', 'Name', 'Material 1', '#1', 'Material 2', '#2', 'Material 3', '#3', 'Material 4', '#4', 'Material 5', '#5', 'Material 6', '#6', 'Source', 'Category']]

In [4]:
columns_to_convert = ['#2', '#3', '#4', '#5', '#6']
df.loc[:, columns_to_convert] = df.loc[:, columns_to_convert].apply(pd.to_numeric, errors='coerce').fillna(0).astype(str)
df.loc[:, columns_to_convert] = df.loc[:, columns_to_convert].astype(float)
df.loc[:, columns_to_convert] = df.loc[:, columns_to_convert].astype('Int64')

In [5]:
material_columns = [f'Material {i}' for i in range(1, 7)]
for column in material_columns:
    df.loc[df[column].notnull(), column] = df.loc[df[column].notnull(), column].apply(lambda x: f"'{x}'")

In [6]:
df.loc[:, 'mat1'] = None
df.loc[df['#1'] > 0, 'mat1'] = df['Material 1'].astype(str) + ": " + df['#1'].astype(str)
df.head()

C:\Users\David\AppData\Local\Temp\ipykernel_2908\787808028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'mat1'] = None

,Internal ID,Name,Material 1,#1,Material 2,#2,Material 3,#3,Material 4,#4,Material 5,#5,Material 6,#6,Source,Category,mat1
0,632,acorn pochette,'acorn',6,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,Balloons,Equipment,'acorn': 6
1,838,acorn rug,'acorn',6,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,Balloons,Rugs,'acorn': 6
2,44,acoustic guitar,'softwood',8,'iron nugget',3,NaN,0,NaN,0,NaN,0,NaN,0,Smug villagers,Housewares,'softwood': 8
3,943,aji fry,'horse mackerel',1,'flour',1,NaN,0,NaN,0,NaN,0,NaN,0,Catching a horse mackerel,Savory,'horse mackerel': 1
4,958,anchoas al ajillo,'anchovy',2,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,Catching an anchovy,Savory,'anchovy': 2

In [7]:
# def combine_materials(new_column_name, col1, col2, data=df):
    # data.loc[:, new_column_name] = None
    # data.loc[data[col2] > 0, new_column_name] = data[col1].astype(str) + ": " + data[col2].astype(str)
#     return data

In [8]:
new_columns = {
    'mat1' : ['Material 1', '#1'],
    'mat2': ['Material 2', '#2'],
    'mat3' : ['Material 3', '#3'],
    'mat4': ['Material 4', '#4'],
    'mat5' : ['Material 5', '#5'],
    'mat6': ['Material 6', '#6'],
}

for column in new_columns:
    df = df.loc[:, new_columns[column]] = None
    df.loc[df[new_columns[column][1]] > 0, new_columns[column]] = df[new_columns[column][0]].astype(str) + ": " + df[new_columns[column][1]].astype(str)

AttributeError: 'NoneType' object has no attribute 'loc'

In [ ]:
print(new_columns['mat2'])

In [ ]:
columns_to_join = ['mat1', 'mat2', 'mat3', 'mat4', 'mat5', 'mat6']
df.loc[:, ['materials']] = df[columns_to_join].apply(lambda row: ', '.join(map(str, [val for val in row if pd.notnull(val)])), axis=1)
columns_to_drop = ['Material 1', '#1', 'Material 2', '#2', 'Material 3', '#3', 'Material 4', '#4', 'Material 5', '#5', 'Material 6', '#6']
df = df.drop(columns = columns_to_join)
df = df.drop(columns = columns_to_drop)

In [ ]:
df.loc[:, 'materials'] = df.loc[:, 'materials'].apply(lambda x:'{' + x + '}')
df = df.rename(columns={'Internal ID': 'id', 'Name': 'name', 'Source': 'source', 'Category': 'category'}).sort_values('id')

In [ ]:
#df['name'] = df['name'].str.title()
df['name'] = df['name'].str.lower()
df['source'] = df['source'].str.title()
df['materials'] = df['materials'].str.title()

In [ ]:
craftables = df.to_dict(orient='records')

In [ ]:

# Convert 'materials' values to dictionaries and remove single quotes
for item in craftables:
    item['materials'] = ast.literal_eval(item['materials'])

craftables